header{
    box-sizing: border-box;
    text-align: right;
    width: 100%;
    padding: 20px 10px;
    overflow: hidden;
    position: fixed;
}

ul {
    padding-top: 0px;
    padding-bottom: 80px;
    padding padding-left: 0px;
    margin-top: 0;
    text-align: right;
    float: top;
}

ul a{
    text-decoration: none;
    padding: 10px 16px;
    border-radius: 2px;
    opacity: 1;
    font-size: 16px;
    display: inline-block;
    margin: 4px;
    line-height: 1;
    outline: none;
     font-family: "Century Gothic", Times, sans-serif;
      font-weight: 900;
    transition: 0.2s ease;
    color: #82BEE0;
}


ul li a:hover {
    color: #BDFCF8;
    opacity: 1;
     font: normal 25px 'Century Gothic', sans-serif;
}


ul li{
    display: inline-block;
}

